@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ffd0d0 0.89%,
    #ffb3b3 17.23%,
    #ff8080 42.04%,
    #ff4d4d 55.12%,
    #ff1a1a 71.54%,
    #bf0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-red-gradient {
  background: linear-gradient(
    157.81deg,
    #ffd0d0 -43.27%,
    #ffb3b3 -21.24%,
    #ff8080 12.19%,
    #ff4d4d 29.82%,
    #ff1a1a 51.94%,
    #bf0000 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-heading-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #5c0000 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.data-mention-container .data-mention-card:last-child {
  margin-right: 0px;
}

.data-mention-card {
  background: transparent;
}

.data-mention-card:hover {
  background: var(--black-gradient);
}

.grey__gradient {
  background: linear-gradient(180deg, rgba(252, 3, 3, 0) 0%, #888888 100%);
  filter: blur(123px);
}

.red__gradient {
  background: linear-gradient(90deg, #000000 0%, #420003 100%);
  filter: blur(900px);
}


.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
